*{
  padding:0;
  margin:0;
}
header{
  background-color: #4dad5b;
  padding:2%;
}
#title{
  height:50px;
  width: 250px;
  text-align: center;
  position: relative;
}

#imgIn{
  position: relative;
  display: inline-block;
}

/* ol for Pokeinfo, the information table */
ol{
  text-align: center;
  border-top:6px solid red;
  background-color: lightgray;
  width: 270px;


}

#pokeInfo{
  position: absolute;
  top: 300px;
  left: 560px;

}

/* ******************************All pokeball******************** */
#pokeBall1{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 515px;
  transition: transform .2s;
}

#pokeBall1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

#pokeBall2{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 575px;
  transition: transform .2s;
}

#pokeBall2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

#pokeBall3{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 635px;
  transition: transform .2s;
}

#pokeBall3:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

#pokeBall4{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 695px;
  transition: transform .2s;
}

#pokeBall4:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

#pokeBall5{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 755px;
  transition: transform .2s;
}

#pokeBall5:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

#pokeBall6{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 815px;
  transition: transform .2s;
}

#pokeBall6:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);
}

/* ******************************All pokeball******************** */
footer{
background-color: #e6bc2f;
color: white;
text-align: center;
padding:.5%;
}

#imgHolder{
  position: absolute;
  top:-47px;
  left:-528px;
  width: 372px;
  height: 277px;
  border-style: solid;
  border-color: white;
}

#bgAll{
  background-image: url("pokeBack6.png");
}

 #pokeDex{
  background-image: url("pokepic.jpg");
  background-size: 900px 500px;
  width: 900px;
  height: 500px;
}

#main {
    width: 900px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}
