*{
  padding:0;
  margin:0;
}
header{
  background-color: #4dad5b;
  padding:2%;
}
#title{
  height:50px;
  width: 250px;
  text-align: center;
  position: relative;
}

#imgIn{
  position: relative;
  display: inline-block;
}
.pokeBall1{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 520px;
  left: 530px;
}
footer{
background-color: #e6bc2f;
color: white;
text-align: center;
padding:.5%;
}

#bgAll{
  background-image: url("pokeBack6.png");
}

 #pokeDex{
  background-image: url("pokepic.jpg");
  background-size: 900px 500px;
  width: 900px;
  height: 500px;
}

#main {
    width: 900px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}
